.apt_generated/
.apt_generated_tests/
.gradle/
.settings/
bin/
build/
target/

**/.idea/.gitignore
**/.idea/.name
**/.idea/compiler.xml
**/.idea/gradle.xml
**/.idea/jarRepositories.xml
**/.idea/misc.xml
**/.idea/shelf/
**/.idea/vcs.xml
**/.idea/workspace.xml

*.iml

.DS_Store
.classpath
.factorypath
.project
Thumbs.db
desktop.ini
hs_err_pid*

!src/**/build/
